@model AutentifyAPI.Models.TypePartenaire
@{
    ViewData["Title"] = "Enregistrer un type de partenaire";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-group {
        margin-bottom: 5px;
        padding-left: 50px;
    }
</style>

<nav aria-label="breadcrumb" class="nav-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item"><a asp-controller="DonneesGeneraux" asp-action="ListeTypePartenaire">Liste des types de partenaires</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ajouter </li>
    </ol>
</nav>

<div class="row">

    <div class="col-lg-12">
        <form method="post" asp-controller="DonneesGeneraux" asp-action="AddTypePartenaire">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label asp-for="Libelle"></label> <span class="fa fa-language">*</span>
                        <input asp-for="Libelle"  class="form-control" />
                        <span class="text-danger" asp-validation-for="Libelle"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:2em;">
                <div class="fa-hover col-md-2 col-sm-4 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary">
                            <span><i class="fa fa-check-circle-o"></i></span>
                        </button>
                    </div>
                </div>
                <div class="fa-hover col-md-2 col-sm-4 ">
                    <div class="form-group">
                        <button type="reset" class="btn btn-outline-primary">
                            <span><i class="fa fa-times-circle-o"></i></span>
                        </button>
                    </div>
                </div>

            </div>
        </form>

    </div>

</div>

<style>
    .fa-check-circle-o {
        color: #2da5d5;
    }

    .fa-times-circle-o {
        color: #d81212;
    }
</style>



